<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Diff Application</title>
    <meta name="description" content="Tuts+ Chat Application" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/baltable.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/diff.css" />
    <script src="/wsclient.js"></script>
    <link rel="stylesheet" href="/css/table_pretty.css" />

  </head>

  <body>
    <div>
      <h5></h5>
      <h3 class="diffMax"></h3>
      <h4></h4>
    </div>

    <table id="exchange">
      <tbody id="order">
        <tr class="headers">
          <th id="symbol">Symbol</th>
          <th id="percent">درصد</th>
          <th id="nob">Exchange</th>
          <th id="coin">Binance</th>
          <th id="value">مقدار</th>
          <th id="description">توضیحات</th>
        </tr>
      </tbody>
    </table>
    <br />

    <br />
    
    <footer class="info">
      <p>
        Sponsered & created by
        <a href="https://github.com/tsunamyh/">Sina Azizi And Hojat Fathpour</a>
      </p>
      <p>
        Service powered by
        <a href="https://www.npmjs.com/package/websocket">WebSocket</a> &
        <a href="https://www.npmjs.com/package/express">Express</a>
      </p>
      <p>
        Messenger service :
        <a href="https://messenger.iran.liara.run/">ChatBox</a>
      </p>
    </footer>
  </body>
</html>
